# Ignore JSON files
*.json

# Ignore JSONL files
*.jsonl

# Ignore shell scripts
*.sh

# Ignore __pycache__ directories
__pycache__/

experiments/checkpoints/*

experiments/data

experiments/dataset

experiments/raw

experiments/wandb

experiments/outputs